<html>

<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css')}}">
</head>

<body>

  <div id="page">
    <div id= "header">
      <div class="title"> <h1> Catalog App </h1></div>
      {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
      {% endfor %}
    </div>

    <div class="login">
        {% if credentials %}
        <form action="{{ url_for('gdisconnect') }}">
          <input class= "login" type="submit" value="Logout">
        </form>
        {% else %}
        <form action="{{ url_for('showLogin') }}">
          <input class="login" type="submit" value="Login">
        </form>
        {% endif %}
    </div>

    <div id= "outerbox">
    <div id= "innerbox">
      <div class="itemdescription">
        <h2 style="text-transform: uppercase"> {{ sport_item.name }} </h2>
        <p>{{sport_item.description}}</p>

        {% if credentials %}
        <a style = "visibility : visibile" href = "{{ url_for( 'editSportItem', sport_category_name = sport_item.sport_category_name, sport_item_name = sport_item.name)}}">Edit</a>
        <a style = "visibility : visibile" href = "{{ url_for( 'deleteSportItem', sport_category_name = sport_item.sport_category_name, sport_item_name = sport_item.name)}}">Delete</a>
        {% else %}
        <a style = "visibility : hidden" href = "{{ url_for( 'editSportItem', sport_category_name = sport_item.sport_category_name, sport_item_name = sport_item.name)}}">Edit</a>
        <a style = "visibility : hidden" href = "{{ url_for( 'deleteSportItem', sport_category_name = sport_item.sport_category_name, sport_item_name = sport_item.name)}}">Delete</a>
        {% endif %}



      </div>
    </div>
    </div>
  </div>
</body>
</html>
